@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap);

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;

}

/* Navigation */

nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.bar_icon{
    font-size: 30px;
}

/* Hero Section */